# Python cache
__pycache__/
*.pyc

# Django database
db.sqlite3

# Virtual environments
venv/
.venv/

# Django migrations cache
*/migrations/__pycache__/

# Logs
*.log

# IDE/project files
.vscode/
.idea/

.env
*.pkl
*.joblib